/* styles.css */
.btn-transparent {
    background-color: transparent;
    border-color: transparent;
    color: #007bff; /* Primary button text color */
  }
  
  .btn-transparent:hover {
    background-color: transparent;
    border-color: transparent;
    color: #0056b3; /* Darker color for hover effect */
    text-decoration: underline; /* Optional: Add underline on hover */
  }
  